/* ==========================================================================
   $EPG
   ========================================================================== */

/**
 * EPG
 */

.epg {
    background-color: @colour-silver;

    /**
     * Header
     */

    .epg-header {
        overflow: hidden;
        padding-top: 1em;
        padding-bottom: 1em;

        .title {
            float: left;
            margin: 0;
        }

        .form {
            float: right;
            padding-top: 0.4em;
        }
    }

    /**
     * Navigation
     */

    .epg-nav {
        background-color: @colour-white-dark;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}