/* ==========================================================================
   $EPG
   ========================================================================== */

/**
 * EPG
 */

.epg {
    background-color: @colour-silver;

    /**
     * Header
     */

    .epg-header {
        overflow: hidden;
        padding-top: 1em;
        padding-bottom: 1em;

        /* Title */
        .title {
            margin: 0;

            @media all and (min-width: @bp-small) {
                float: left;
            }
        }

        /* Form */
        .form {
            padding-top: 0.4em;

            @media all and (min-width: @bp-small) {
                float: right;
            }
        }
    }

    /**
     * Navigation
     */

    .epg-nav {
        background-color: @colour-white-dark;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}