/* ==========================================================================
   Breakpoints
   ========================================================================== */

@bp-smallest: 20em;     /* 16 x 20    =  320px */
@bp-smaller:  30em;     /* 16 x 30    =  480px */
@bp-small:    37.5em;   /* 16 x 37.5  =  600px */
@bp-medium:   47.5em;   /* 16 x 47.5  =  760px */
@bp-large:    62.5em;   /* 16 x 62.5  = 1000px */
@bp-largest:  68.75em;  /* 16 x 68.75 = 1100px */
@bp-xxl:      81.25em;  /* 16 x 81.25 = 1300px */